;; 2013.01.21
;; yasushisakai
;;
;; gitignore for Django using pyCharm
;;

;;extensions to ignore
*.log
*.pot
*.pyc

;;directories to ignore
.idea/
courseproject/my.cnf
courseproject/migrations/
authenticating/migrations/
app/migrations/
courseproject/static/ckeditor/
courseproject/static/scripts/app.js
courseproject/static/scripts/app.js.map
courseproject/whoosh_index
