cloudinary==1.3.1
defusedxml==0.4.1
dj-database-url==0.4.1
Django==1.9.2
django-debug-toolbar==1.4
git+git@github.com:django-haystack/django-haystack.git@04cc1ab8f918a0473bc3d59a47f249cf0a6e9f25
django-tagging==0.4.1
dropbox==4.0
elasticsearch==2.2.0
gunicorn==19.4.5
mysqlclient==1.3.7
oauthlib==1.0.3
psycopg2==2.6.1
PyJWT==1.4.0
PyMySQL==0.7.1
python-gettext==3.0
python-social-auth==0.2.14
python3-openid==3.0.9
requests==2.9.1
requests-oauthlib==0.6.0
six==1.10.0
sqlparse==0.1.18
urllib3==1.14
whitenoise==3.0
Whoosh==2.7.2
