{% extends 'base.html' %}
{% load i18n %}
{% block content %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form class="form-horizontal" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <fieldset class="col-md-5">
            <div class="form-group">
                <label for="id_username" class="col-lg-4 control-label">{% trans 'User' %}:</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="id_username" maxlength="254" name="username"
                           placeholder="{% trans 'User' %}"/>
                </div>
            </div>

            <div class="form-group">
                <label for="id_password" class="col-lg-4 control-label">{% trans 'Password' %}:</label>
                <div class="col-lg-8">
                    <input type="password" class="form-control" name="password" id="id_password"
                           placeholder="{% trans 'Password' %}"/>
                </div>
            </div>


            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-4">
                    <a href="{% url 'home' %}" type="reset" class="btn btn-default">{% trans 'Cancel' %}</a>
                    <a href="/password_reset/" class="btn btn-info">{% trans 'Lost password' %}?</a>
                    <button type="submit" class="btn btn-primary" value="login">{% trans 'Log in' %}</button>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </div>
            </div>
        </fieldset>
        <fieldset class="col-md-3">
            <div>

                <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-block btn-social btn-twitter">
                    <span class="fa fa-twitter"></span> {% trans 'Sign in with' %} Twitter
                </a>
                <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block btn-social btn-facebook">
                    <span class="fa fa-facebook"></span> {% trans 'Sign in with' %} Facebook
                </a>
                <a href="{% url 'social:begin' 'vk-oauth2' %}" class="btn btn-block btn-social btn-vk">
                    <span class="fa fa-vk"></span> {% trans 'Sign in with' %} VK
                </a>
            </div>
        </fieldset>
    </form>


{% endblock %}