{% extends 'base.html' %}
{% block content %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form class="form-horizontal" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <fieldset>
            <div class="form-group">
                <label for="id_username" class="col-lg-2 control-label">Username:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="id_username" maxlength="254" name="username"
                           placeholder="User"/>
                </div>
            </div>

            <div class="form-group">
                <label for="id_password" class="col-lg-2 control-label">Password:</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" name="password" id="id_password"
                           placeholder="Password"/>
                </div>
            </div>


            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <a href="{% url 'home' %}" type="reset" class="btn btn-default">Cancel</a>
                    <a href="/password_reset/" class="btn btn-info">Lost password?</a>
                    <button type="submit" class="btn btn-primary" value="login">Login</button>
                    <input type="hidden" name="next" value="{{ next }}"/>

                    <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" title="Login with Facebook">
                        {% load staticfiles %}
                        <img src="{% static 'icons/icon_fb.png' %}" alt="Login with Facebook" style="width: 100px">
                    </a>
                    <a href="{% url 'social:begin' 'vk-oauth2' %}?next={{ request.path }}" title="Login with VK">
                        {% load staticfiles %}
                        <img src="{% static 'icons/icon_vk.png' %}" alt="Login with VK" style="width: 100px">
                    </a>
                    <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}" title="Login with Twitter">
                        {% load staticfiles %}
                        <img src="{% static 'icons/icon_twitter.png' %}" alt="Login with Twitter" style="width: 100px">
                    </a>

                </div>
            </div>
        </fieldset>
    </form>


{% endblock %}