#userpicnavbar {
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    margin: -0.6em 10px 0 0;
    border: 1px solid #666;
}

.imgRect {
    display: block;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

#categoryes {
    height: 100%;
}

.well {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #18bc9c;
}

.badge {
    background-color: #f39c12;
    color: #2c3e50;
}

.breadcrumb {
    margin-bottom: 0px;
}

.panel a {
    text-decoration: none;
}

.breadcrumb a {
    text-decoration: none;
    color: #2c3e50;
}

.selectlist {
    padding-top: 10px;
}

#photoitem {
    padding-bottom: 10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 300px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: inline;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}