{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    {% if query %}
        <div class="col-md-offset-1">
            <div class="col-md-10">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="font-size: x-large">{% trans 'Results' %}:</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-offset-1 col-md-9">
                {% for result in page.object_list %}
                    {% if result.model_name == 'publication' %}
                        {% include 'search/publication.html' with publication=result.object %}
                    {% endif %}
                    {% if result.model_name == 'comment' %}
                        <div class="col-md-12">
                            {% include 'search/publication.html' with publication=result.object.publication %}
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{% trans 'Was found in comment' %}:</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="comment panel panel-default">
                                    <div class="panel-body">
                                        <p>{{ result.object.text }}</p>
                                    </div>
                                    <div class="panel-footer">
                                        <ul class="breadcrumb">
                                            <li>
                                    <span id="userpicnavbar">
                                        <span class="imgRect"
                                              style="background-image: url({{ result.object.pic }})"></span>
                                    </span>
                                    <span class="label label-success"><a
                                            href="/user/{{ result.object.author_id }}/profile/">
                                        {{ result.object.author }}</a></span>
                                            </li>
                                            <li class="active"><span>{{ result.object.created_at }}</span></li>
                                            <li>
                                    <span ng-show="{{ result.object.rate }} > 0"
                                          class="badge plus">+{{ result.object.rate }}</span>
                                    <span ng-show="{{ result.object.rate }} == 0"
                                          class="badge nul">{{ result.object.rate }}</span>
                                    <span ng-show="{{ result.object.rate }} < 0"
                                          class="badge minus">{{ result.object.rate }}</span>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% empty %}
                    <div class="alert alert-dismissible alert-danger">
                        <strong>{% trans 'No results found' %}!</strong>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}

{% endblock %}