{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="row">
        {% include template %}
    </div>
    <div id="commentsblock">
        <div class="col-md-8 col-md-offset-2" ng-controller="CommentsController as ctrl"
             ng-init="ctrl.init('{{ publication.id }}', '{{ request.user.username }}', '{{ is_super }}', {{ publication.rate }},{{ like }})">
            {% if user.is_authenticated %}

                <a href="" ng-click="ctrl.vote(0,'True',ctrl.publication_id)" ng-cloak
                   ng-hide="(ctrl.like == true)"><i style="font-size: 18px; color: #18bc9c;"
                                                    class="fa fa-thumbs-up"></i></a>
                <a href="" ng-click="ctrl.vote(0,'True',ctrl.publication_id)" ng-cloak
                   ng-show="(ctrl.like == true)"><i style="font-size: 25px; color: #e74c3c;"
                                                    class="fa fa-thumbs-up"></i></a>
                <a href="" ng-click="ctrl.vote(0,'False', ctrl.publication_id)" ng-cloak
                   ng-hide="(ctrl.like == false)"><i style="font-size: 18px; color: #18bc9c;"
                                                     class="fa fa-thumbs-down"></i></a>
                <a href="" ng-click="ctrl.vote(0,'False',ctrl.publication_id)" ng-cloak
                   ng-show="(ctrl.like == false)"><i style="font-size: 25px; color: #e74c3c;"
                                                     class="fa fa-thumbs-down"></i></a>

            {% endif %}

            {% verbatim %}
            <span ng-show="ctrl.rate > 0" class="badge plus">+{{ ctrl.rate }}</span>
            <span ng-show="ctrl.rate == 0" class="badge nul">{{ ctrl.rate }}</span>
            <span ng-show="ctrl.rate < 0" class="badge minus">{{ ctrl.rate }}</span>
            {% endverbatim %}

            <div ng-repeat="comment in ctrl.comments track by $index" class="comment panel panel-default">
                {% verbatim %}
                <div class="panel-body">
                    <p ng-hide="ctrl.isEdit && ctrl.editindex == $index">{{ comment.text }}</p>
                    <textarea ng-model="ctrl.editcomment" ng-show="ctrl.isEdit && ctrl.editindex == $index" id="edit"
                              type="text" class="form-control" maxlength="500" name="edit">{{ comment.text }}</textarea>
                </div>
                <div class="panel-footer">
                    <ul class="breadcrumb">
                        <li>
                        <span id="userpicnavbar">
                            <span class="imgRect" style="background-image: url({{ comment.pic }})"></span>
                        </span>
                            <span class="label label-success"><a href="/user/{{ comment.author_id }}/profile/">{{
                                comment.author}}</a></span>
                        </li>
                        <li class="active"><span>{{ comment.created_at | date:'medium'}}</span></li>
                        <li>
                            <span ng-show="comment.rate > 0" class="badge plus">+{{ comment.rate }}</span>
                            <span ng-show="comment.rate == 0" class="badge nul">{{ comment.rate }}</span>
                            <span ng-show="comment.rate < 0" class="badge minus">{{ comment.rate }}</span>
                        </li>
                        {% endverbatim %}

                        {% if user.is_authenticated %}
                            <li>
                                {% verbatim %}
                                <a href="" ng-click="ctrl.vote(comment.id,'True')" ng-cloak
                                   ng-hide="(comment.like == true)"><i style="font-size: 18px; color: #18bc9c;"
                                                                       class="fa fa-thumbs-up"></i></a>
                                <a href="" ng-click="ctrl.vote(comment.id,'True')" ng-cloak
                                   ng-show="(comment.like == true)"><i style="font-size: 25px; color: #e74c3c;"
                                                                       class="fa fa-thumbs-up"></i></a>
                                <a href="" ng-click="ctrl.vote(comment.id,'False')" ng-cloak
                                   ng-hide="(comment.like == false)"><i style="font-size: 18px; color: #18bc9c;"
                                                                        class="fa fa-thumbs-down"></i></a>
                                <a href="" ng-click="ctrl.vote(comment.id,'False')" ng-cloak
                                   ng-show="(comment.like == false)"><i style="font-size: 25px; color: #e74c3c;"
                                                                        class="fa fa-thumbs-down"></i></a>
                                {% endverbatim %}
                            </li>
                        {% endif %}
                        {% verbatim %}
                        <span class="pull-right"
                              ng-show="comment.author ==  ctrl.username  ||  ctrl.is_super  == 'True' ">
                            <a href="" ng-click="ctrl.deleteComment(comment.id)">
                            <i style="font-size: 25px; color:#e74c3c;;" class="fa fa-ban "></i></a></span>
                        <span ng-show=" comment.author ==  ctrl.username  ||  ctrl.is_super  == 'True' ">
                            <a ng-hide="ctrl.isEdit && ctrl.editindex == $index"
                               ng-click="ctrl.edit(true, false, comment.text, $index, comment.id)" href=""><i
                                    style="font-size: 25px; color: #3498db;" class="fa fa-pencil pull-right"></i></a>
                            <a ng-show="ctrl.isEdit && ctrl.editindex == $index"
                               ng-click="ctrl.edit(false, true, comment.text, $index, comment.id)" href=""><i
                                    style="font-size: 25px; color: #18bc9c;" class="fa fa-check pull-right"></i></a>
                            <a ng-show="ctrl.isEdit && ctrl.editindex == $index"
                               ng-click="ctrl.edit(false, false, comment.text, $index, comment.id)" href=""><i
                                    style="font-size: 25px; color: #e74c3c;" class="fa fa-times pull-right"></i></a>

                        </span>
                        {% endverbatim %}
                    </ul>

                </div>

            </div>
            {% if user.is_authenticated %}
                <form class="form-horizontal" method="post" action="{% url 'create-comment' %}">
                    {% csrf_token %}
                    <div class="comment panel panel-default">
                        <div class="panel-body">
                        <textarea id="text" ng-model="ctrl.text" ng-change="ctrl.inputChange('#text')" type="text"
                                  class="form-control" maxlength="500" name="text"
                                  placeholder="{% trans 'say something' %}">
                        </textarea>
                        </div>
                        <div class="panel-footer">
                            <ul class="breadcrumb">
                                <li>
                        <span id="userpicnavbar">
                            <span class="imgRect" style="background-image: url({{ user.photo }})"></span>
                        </span>
                                    <span class="label label-success"><a
                                            href="/user/{{ user.id }}/profile/">{{ user.username }}</a></span>
                                </li>
                                <a ng-disabled="ctrl.isBlank" ng-click="ctrl.submit('{{ publication.id }}')"
                                   class="btn btn-danger pull-right">{% trans 'send' %}</a>
                                {#                            type="submit"#}
                            </ul>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
{% endblock %}