{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    {% load staticfiles %}
    <script src="{% static 'ckeditor/ckeditor.js' %}"></script>

    <div style="background-color: inherit" ng-controller="PreviewController as ctrl"
         ng-init="ctrl.initPreview('#content','#dropview','#target',{{ prev_data }},'{{ request.user.username }}')">

        <div class="collapse" id="previewzona">
            {% include template %}
        </div>
        <form class="form-horizontal">
            {% csrf_token %}
            <div class="col-md-offset-1 col-md-11" id="formzona">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="id_header" class=" control-label">{% trans 'Header' %}:</label>
                        </div>
                        <div class="col-md-6">
                            <input ng-model="ctrl.header" ng-change="ctrl.inputChange('#id_header', 0)" ng-trim="false"
                                   type="text" class="form-control" id="id_header"
                                   maxlength="254" name="header" placeholder="{% trans 'you header' %}"/>
                        </div>
                    </div>

                    <div id="id_description_tab" class="form-group">
                        <div class="col-md-2">
                            <label for="id_description" class=" control-label">{% trans 'Description' %}:</label>
                        </div>
                        <div class="col-md-6">
                <textarea ng-change="ctrl.inputChange('#id_description', 1)" ng-trim="false" ng-model="ctrl.description"
                          class="form-control" id="id_description" type="text"
                          name="description" placeholder="{% trans 'you description' %}" maxlength="300"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="id_category" class=" control-label">{% trans 'Category' %}:</label>
                        </div>
                        <div class="col-md-6 selectlist">
                            <select ng-model="ctrl.category" id="id_category" class="form-control col-md-6" size="1"
                                    name="category">
                                {% for val in catlist %}
                                    <option
                                            value="{{ val.name }}">{% trans val.name %}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="id_tags" class=" control-label">{% trans 'Tags' %}:</label>
                        </div>
                        <div class="col-md-6">
                            <tags-input required name="tags" ng-model="ctrl.tags"
                                        id="id_tags" max-length="15"
                                        min-tags="3"
                                        max-tags="5"
                                        placeholder="{% trans 'three at least, five maximum' %}"
                                        on-tag-removed="ctrl.checkTags()"
                                        on-tag-added="ctrl.checkTags()">
                                <auto-complete source="ctrl.loadTags($query)"></auto-complete>
                            </tags-input>
                        </div>
                    </div>

                </div>
                <span class="col-md-6">
                    <div ng-hide="'{{ template_id }}'==3" id="dropview"
                         class="dropzona col-md-8 btn btn-default btn-file">
                        <br>
                        <br>
                        <br>
                        <span class="glyphicon glyphicon-camera"></span>
                        <span>{% trans 'drop your images here' %}</span>
                        <input id="id_photo" name="photo" type="file" accept="image/*"
                               on-read-file="ctrl.fillFileFromInput()">
                    </div>
                </span>
            </div>

            <div class="col-md-12" id="editzona">
                <textarea ng-trim="false" name="editor" id="editor" rows="10" cols="80">
                    {% trans 'Your text will de shown here. Just remove this one and start to type in editor' %}
                </textarea>
                <script>
                    CKEDITOR.replace('editor', {
                        language: '{{ user.language.code }}'
                    });
                </script>
                <div class="editbuttongroup col-md-12">
                    <div class="col-md-4">
                        <a href="#" class="btn btn-danger">{% trans 'Cancel' %}</a>
                        <a ng-click="ctrl.ShowPublication()" data-toggle="collapse"
                           data-target="#previewzona" class="btn btn-warning">{% trans 'Preview' %}</a>
                        <a class="btn btn-success"
                           ng-disabled="ctrl.isBlank[0] || ctrl.isBlank[1] || ctrl.sending || ctrl.tagIncorrect"
                           ng-click="ctrl.submit({{ template_id }})">{% trans 'Publish' %}</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-5">
                        <div style="margin-top: 10px" ng-cloak ng-show="ctrl.sending"
                             class="progress progress-striped active">
                            <div class="progress-bar" style="width: 100%">{% trans 'loading ' %}</div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
{% endblock %}