{% extends 'base.html' %}
{% load i18n %}
{% load tagging_tags %}
{% load staticfiles %}
{% block content %}

    {#     <img style="max-height: 100px;" class="img-responsive img-thumbnail"#}
    {#                                     src="{{ publication.image }}"> #}

    <div ng-controller="PublicationController as ctrl" ng-init="ctrl.init()">
        <a data-toggle="collapse" data-target="#templatetab" href="#add"><img id="add"
                                                                              src="{% static 'icons/add_red.png' %}"></a>
        <div id="templatetab" class="col-md-3 collapse">
            <div id="templatepanel" class="panel panel-success">
                <div class="panel-heading">
                    <h3>{% trans 'Templates' %}</h3>
                </div>
                <div class="panel-body list-group" id="templatelist">
                    {% for template in templates %}
                        <a href="{% url 'create-publication' template.id %}" class="list-group-item">
                            <label>{{ template.name }}</label>
                            <img id="photo" class="img-thumbnail" src="{{ template.preview_link }}">
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-2" ng-cloak ng-show="!ctrl.viewProfile">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans 'Categories' %}</h3>
                </div>
                <div class="list-group">
                    {% for category in categories %}
                        <a href="#{{ category.name }}" ng-click="ctrl.setFilter({{ category.id }})"
                           class="list-group-item">{% trans category.name %}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="tagcloud hidden-xs hidden-sm">
                <div ng-controller="TagController as ctrl2" ng-init="ctrl2.init()">
                    {% verbatim %}
                   <span ng-cloak ng-repeat="tag in ctrl2.tags" class="cloud_{{ tag.Weight }}">
                       <a href="#{{tag.TagName}}" ng-click="ctrl.setFilter(0,'',tag.TagName)">{{ tag.TagName }}</a>
                   </span>
                    {% endverbatim %}
                </div>
            </div>
        </div>

        <div class="col-md-3" ng-show="ctrl.viewProfile">
            {% verbatim %}
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h2 class="text-center">@{{ ctrl.userProfile.profile.username }}</h2>
                </div>
                <div class="panel-body list-group">
                    <img id="photo" class="img-responsive img-thumbnail" src="{{ ctrl.userProfile.profile.photo }}">
                    <div class="list-group-item">
                        <label class="label label-info">email:</label>
                        <span class="pull-right">{{ ctrl.userProfile.profile.email }}</span>
                    </div>
                    {% endverbatim %}
                    <div class="list-group-item">
                        <label class="label label-info">{% trans 'Gender' %}:</label>
                        <span class="pull-right">{% verbatim %}{{ ctrl.userProfile.profile.gender }}{% endverbatim %}</span>
                    </div>
                    <div class="list-group-item">
                        <label class="label label-info">{% trans 'Location' %}:</label>
                        <span class="pull-right">{% verbatim %}{{ ctrl.userProfile.profile.location }}{% endverbatim %}</span>
                    </div>
                    <div class="list-group-item">
                        <label class="label label-info">{% trans 'About' %}:</label>
                        <span class="pull-right">{% verbatim %}{{ ctrl.userProfile.profile.about}}{% endverbatim %}</span>
                    </div>
                    <div class="list-group-item">
                        <label class="label label-info">{% trans 'Karma' %}:</label>
                        {% verbatim %}
                        <span ng-show="ctrl.userProfile.profile.karma > 0" class="badge plus pull-right">+{{ ctrl.userProfile.profile.karma }}</span>
                        <span ng-show="ctrl.userProfile.profile.karma == 0" class="badge nul pull-right">{{ ctrl.userProfile.profile.karma }}</span>
                        <span ng-show="ctrl.userProfile.profile.karma < 0" class="badge minus pull-right">{{ ctrl.userProfile.profile.karma }}</span>
                        {% endverbatim %}
                    </div>
                    <div class="list-group-item"
                         ng-repeat="achievement in ctrl.userProfile.achievements track by $index">
                        {% verbatim %}

                        <img class="img-thumbnail" src="{{ achievement.picture }}"
                             style="width: 80px; height: 80px"><span style="font-size: 24px; color: #3498db;"
                                                                     class="pull-right">#{{ achievement.name }}</span>
                        <p>{{ achievement.description }}</p>

                        <p>(@{{ achievement.created_at | date:'medium' }})</p>
                        {% endverbatim %}
                    </div>
                </div>
            </div>
        </div>
        <div infinite-scroll='ctrl.loadMore()' infinite-scroll-disabled='ctrl.busy' infinite-scroll-distance='1'>
            <div class="publ col-md-8 pull-right">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div id="date" class="sortbut pull-right"><a href=""
                                                                     class="sortbut fa fa-chevron-circle-up"
                                                                     ng-click="ctrl.setSort('-created_at')"></a>
                            {% trans 'Date' %}<a href="" class="sortbut fa fa-chevron-circle-down"
                                                 ng-click="ctrl.setSort('created_at')"></a>
                        </div>
                        <div id="rate" class="sortbut"><a href="" class="sortbut fa fa-chevron-circle-up"
                                                          ng-click="ctrl.setSort('-rate')"></a>
                            {% trans 'Rate' %}<a href="" class="sortbut fa fa-chevron-circle-down"
                                                 ng-click="ctrl.setSort('rate')"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="publ col-md-8 pull-right" ng-repeat="publication in ctrl.publications track by $index">
                {% verbatim %}
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <a href="/articles/{{ publication.id }}">
                            <h3 id="title" class="panel-title">{{ publication.header }}</h3>
                        </a>
                    </div>
                    <div class="panel-body">
                        <a href="/articles/{{ publication.id }}">
                            <div class="col-md-6 text-center">
                                <span class="imgRect2 img-thumbnail"
                                      style="background-image: url({{ publication.image }}); height: 200px; max-width: 350px"></span>
                                </span>
                            </div>
                        </a>

                        <div class="well col-md-6">
                            {{ publication.description }}
                        </div>

                        <ul class="breadcrumb col-md-12">
                            <li>{{publication.category }}</li>
                            <li><span class="label label-success">
                                <a href="#{{publication.author }}" ng-click="ctrl.setFilter(0,publication.author)">{{publication.author
                                    }}</a>
                            </span>
                            </li>
                            <li class="active">{{publication.created_at | date:'medium'}}</li>
                            <li><span ng-show="publication.rate > 0" class="badge plus">+{{ publication.rate }}</span>
                                <span ng-show="publication.rate == 0" class="badge nul">{{ publication.rate }}</span>
                                <span ng-show="publication.rate < 0" class="badge minus">{{ publication.rate }}</span>
                            </li>
                            {% endverbatim %}
                            {% if user.is_authenticated %}
                                <li>
                                    <a href="" ng-click="ctrl.vote(publication.id,'True')" ng-cloak
                                       ng-hide="(publication.like == true)"><i style="font-size: 18px; color: #18bc9c;"
                                                                               class="fa fa-thumbs-up"></i></a>
                                    <a href="" ng-click="ctrl.vote(publication.id,'True')" ng-cloak
                                       ng-show="(publication.like == true)"><i style="font-size: 25px; color: #e74c3c;"
                                                                               class="fa fa-thumbs-up"></i></a>
                                    <a href="" ng-click="ctrl.vote(publication.id,'False')" ng-cloak
                                       ng-hide="(publication.like == false)"><i style="font-size: 18px; color: #18bc9c;"
                                                                                class="fa fa-thumbs-down"></i></a>
                                    <a href="" ng-click="ctrl.vote(publication.id,'False')" ng-cloak
                                       ng-show="(publication.like == false)"><i style="font-size: 25px; color: #e74c3c;"
                                                                                class="fa fa-thumbs-down"></i></a>
                                </li>
                            {% endif %}
                            <li>
                                {% verbatim %}
                                <a href="/articles/{{ publication.id }}/#commentsblock">
                                    <i style="font-size: 15px; color: #18bc9c;" class="fa fa-comments">5</i></a>
                                {% endverbatim %}
                            </li>
                        </ul>
                    </div>
                </div>
                {% verbatim %}
                <ul class="tagslabel">
                    <li ng-repeat="tag in publication.tag"><a ng-click="ctrl.setFilter(0,'',tag)" href="#{{ tag }}">{{
                        tag }}</a></li>
                </ul>
                {% endverbatim %}
            </div>
        </div>
    </div>

{% endblock %}

