{% extends 'base.html' %}
{% load i18n %}
{% load tagging_tags %}
{% load staticfiles %}
{% block content %}

    <divq ng-controller="PublicationController as ctrl" ng-init="ctrl.init()">

        <a data-toggle="collapse" data-target="#templatetab" href="#add"><img id="add"
                                                                              src="{% static 'icons/add_red.png' %}"></a>
        <div id="templatetab" class="col-md-3 collapse">
            <div id="templatepanel" class="panel panel-success">
                <div class="panel-heading">
                    <h3>{% trans 'Templates' %}</h3>
                </div>
                <div class="panel-body list-group" id="templatelist">
                    {% for template in templates %}
                        <a href="{% url 'create-publication' template.id %}" class="list-group-item">
                            <label>{{ template.name }}</label>
                            <img id="photo" class="img-thumbnail" src="{{ template.preview_link }}">
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-2" ng-cloak ng-show="!ctrl.viewProfile">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans 'Categories' %}</h3>
                </div>
                <div class="list-group">
                    {% for category in categories %}
                        <a href="#{{ category.name }}" ng-click="ctrl.setFilter({{ category.id }})"
                           class="list-group-item">{% trans category.name %}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-3" ng-show="ctrl.viewProfile">
            {% verbatim %}
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h2 class="text-center">@{{ ctrl.userProfile.profile.username }}</h2>
                </div>
                <div class="panel-body list-group">
                    <img id="photo" class="img-responsive img-thumbnail" src="{{ ctrl.userProfile.profile.photo }}">
                    <div class="list-group-item">
                        <label class="label label-info">email:</label>
                        <span class="pull-right">{{ ctrl.userProfile.profile.email }}</span>
                    </div>
                    {% endverbatim %}
                    <div class="list-group-item">
                        <label class="label label-info">{% trans 'gender' %}:</label>
                        <span class="pull-right">{% verbatim %}{{ ctrl.userProfile.profile.gender }}{% endverbatim %}</span>
                    </div>
                    <div class="list-group-item">
                        <label class="label label-info">{% trans 'location' %}:</label>
                        <span class="pull-right">{% verbatim %}{{ ctrl.userProfile.profile.location }}{% endverbatim %}</span>
                    </div>
                    <div class="list-group-item">
                        <label class="label label-info">{% trans 'about' %}:</label>
                        <span class="pull-right">{% verbatim %}{{ ctrl.userProfile.profile.about}}{% endverbatim %}</span>
                    </div>
                </div>
            </div>
        </div>
        <div infinite-scroll='ctrl.loadMore()' infinite-scroll-disabled='ctrl.busy' infinite-scroll-distance='1'>
            <div class="col-md-9 pull-right" ng-repeat="publication in ctrl.publications track by $index">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a href="{% url 'show' publication_id=30  %}">{% verbatim %}{{ publication.header }}{% endverbatim %}</a></h3>
                    </div>

                    {% verbatim %}
                    <div class="panel-body">
                        <div class="well">
                            {{ publication.description }}
                        </div>

                        <ul class="breadcrumb">
                            <li>{{publication.category }}</li>
                            <li><span class="label label-success"><a href="#"
                                                                     ng-click="ctrl.setFilter(0,publication.username)">{{
                                publication.username }}</a></span></li>
                            <li class="active">{{publication.created_at | date:'medium'}}</li>
                            <li><span class="badge"><span
                                    ng-show="publication.rate > 0">+</span>{{ publication.rate }}</span></li>
                        </ul>
                    </div>
                </div>
                <ul class="tags ">
                    <li ng-repeat="tag in publication.tag"><a href="#">{{ tag }}</a></li>
                </ul>

                {% endverbatim %}
            </div>
        </div>
        <div class="col-md-3 hidden-xs hidden-sm" ng-controller="TagController as ctrl" ng-init="ctrl.init()">
            <div class="dataBoxContent">
                {% verbatim %}
                   <span ng-cloak ng-repeat="tag in ctrl.tags"
                         class="cloud_{{ tag.Weight }}"><a>{{ tag.TagName }}</a>  </span>
                {% endverbatim %}
            </div>
        </div>


    </divq>

{% endblock %}

