{% load i18n %}

<div class="article">
    <div class="col-lg-12 col-md-12">
        <ul class="breadcrumb">
            <li>{% verbatim %}{{ ctrl.category }}{% endverbatim %} {% trans publication.category.name %}</li>
            <li><span class="label label-success">
                {% if publication.id %}
                    <a href={% url 'user-profile' author_id %}>{% verbatim %}{{ ctrl.author }}{% endverbatim %} {{ publication.author }}</a>
                {% else %}
                    <span>{% verbatim %}{{ ctrl.author }}{% endverbatim %} {{ publication.author }}</span>
                {% endif %}
            </span></li>
            <li class="active">{% verbatim %}{{ ctrl.date | date:'medium' }}{% endverbatim%}
                {{ publication.created_at }}</li>
            <span class="pull-right"
                  ng-show="{{ author_id }}== {{ request.user.id }} || '{{ is_super }}' == 'True' ">
                {% if publication.id %}
                    <a href="{% url 'delete' publication.id %}">
                {% else %}
                    <a href="">
                {% endif %}
                <i style="font-size: 25px; color:#e74c3c; margin-left: 5px" class="fa fa-times "></i></a></span>
            <span class="pull-right" ng-show="{{ author_id }}== {{ request.user.id }} || '{{ is_super }}' == 'True' ">
                {% if publication.id %}
                    <a href="{% url 'create-publication' publication.template.id publication.id %}">
                {% else %}
                    <a href="">
                {% endif %}
                <i style="font-size: 25px; color: #3498db; margin-left: 5px" class="fa fa-pencil "></i></a></span>
        </ul>
    </div>
    <h1 class="text-center">{% verbatim %}{{ ctrl.header }}{% endverbatim %}{{ publication.header }}</h1>
    <div class="col-lg-12 col-md-12">
        <div class="text-center" style="margin-bottom: 10px">
            <img id="target" ng-show="!'{{ publication.image }}'" style="max-height: 240px"
                 class="img-responsive img-thumbnail" src="http://placehold.it/1024x240">
            <span ng-show="{{ publication.image }}" class="imgRect2 img-thumbnail"
                  style="background-image: url({{ publication.image }}); height: 240px;"></span>
            </span>
        </div>
    </div>

    <div class="content text-left">
        <div id="content" ng-bind-html="ctrl.htmlcontent"></div>
        {{ publication.body | safe }}
    </div>

</div>
