{% load i18n %}

<div class="article">
    <div id="img1templ" class="col-lg-6 col-md-6 pull-left">
        <img ng-show="!'{{ publication.image }}'" id="target" style="max-height: 400px;" class="img-thumbnail"
             src="http://placehold.it/600x400">
        <img ng-show="{{ publication.image }}" style="max-height: 400px;" class="img-thumbnail"
             src="{{ publication.image }}">
    </div>
    <div class="col-md-6 pull-right">
        <ul class="breadcrumb">
            <li>{% verbatim %}{{ ctrl.category }}{% endverbatim %} {% trans publication.category.name %}</li>
            <li><span class="label label-success"><a
                    href={% url 'user-profile' author_id %}>{{ publication.author }}</a></span></li>
            <li class="active">{% verbatim %}{{ ctrl.data | date:'medium' }}{% endverbatim%}
                {{ publication.created_at }}</li>
            <span class="pull-right"
                  ng-show="{{ author_id }}== {{ request.user.id }} || '{{ is_super }}' == 'True' ">
                {% if publication.id %}
                    <a href="{% url 'delete' publication.id %}">
                {% else %}
                    <a href="">
                {% endif %}
                <i style="font-size: 25px; color:#e74c3c;;" class="fa fa-times "></i></a></span>
            <span class="pull-right" ng-show="{{ author_id }}== {{ request.user.id }} || '{{ is_super }}' == 'True' ">
                {% if publication.id %}
                    <a href="{% url 'create-publication' publication.template.id publication.id %}">
                {% else %}
                    <a href="">
                {% endif %}
                <i style="font-size: 25px; color: #3498db;" class="fa fa-pencil "></i></a></span>

        </ul>
    </div>

    <div class="content text-left">
        <h1 class="text-center">{% verbatim %}{{ ctrl.header }}{% endverbatim %}{{ publication.header }}</h1>
        <div id="content" ng-bind-html="ctrl.htmlcontent"></div>
        {{ publication.body | safe }}
    </div>
</div>
