{% load i18n %}

<div class="article">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li>{% verbatim %}{{ ctrl.category }}{% endverbatim %} {% trans publication.category.name %}</li>
            <li><span class="label label-success">
                {% if publication.id %}
                    <a href={% url 'user-profile' author_id %}>{% verbatim %}{{ ctrl.author }}{% endverbatim %} {{ publication.author }}</a>
                {% else %}
                    <span>{% verbatim %}{{ ctrl.author }}{% endverbatim %} {{ publication.author }}</span>
                {% endif %}
            </span></li>
            <li class="active">{% verbatim %}{{ ctrl.date | date:'medium' }}{% endverbatim %}
                {{ publication.created_at }}</li>
            <span class="pull-right"
                  ng-show="{{ author_id }}== {{ request.user.id }} || '{{ is_super }}' == 'True' ">
                {% if publication.id %}
                    <a href="{% url 'delete' publication.id %}">
                {% else %}
                    <a href="">
                {% endif %}
                <i style="font-size: 25px; color:#e74c3c; margin-left: 5px" class="fa fa-times "></i></a></span>
            <span class="pull-right" ng-show="{{ author_id }}== {{ request.user.id }} || '{{ is_super }}' == 'True' ">
                {% if publication.id %}
                    <a href="{% url 'create-publication' publication.template.id publication.id %}">
                {% else %}
                    <a href="">
                {% endif %}
                <i style="font-size: 25px; color: #3498db;" class="fa fa-pencil "></i></a></span>
        </ul>
    </div>
    <div class="col-md-12 content text-left">
        <h1 class="text-center">{% verbatim %}{{ ctrl.header }}{% endverbatim %}{{ publication.header }}</h1>
        <div id="content" ng-bind-html="ctrl.htmlcontent"></div>
        {{ publication.body | safe }}
    </div>
</div>